/* scroll bar */
	/* scroller browser */
        ::-webkit-scrollbar {
            width: 5px;
        }
    /* scroller browser */

    /* Track */
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 5px rgba(215,215,215,.8); 
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
    /* Track */

    /* Handle */
        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #fe6500;
            -webkit-box-shadow: inset 0 0 6px rgba(215,215,215,.8); 
        }
        ::-webkit-scrollbar-thumb:window-inactive {
            background: rgb(215,215,215); 
        }
    /* Handle */
/* scroll bar */

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: black;
    font-size: 12pt;
    line-height: 1.2em;
    padding-top: 116px;
    width: 100vw;
}
a,a:hover{
    text-decoration: unset !important;
    color: unset;
}
.full_width{
    width: 100vw;
}
h1{
    font-size: 36pt;
    font-weight: 900;
}
iframe{
	width: 560px;
	height: 315px;
}
.max-width{
    max-width: 1366px;
    margin: 0 auto;
}
.my-btn-color{
    color: white;
    border: 3px solid #f7831c;
    background-color: #f7831c;
    cursor: pointer;
    transition: all .51s !important;
}
.my-btn-color:hover{
    color: #f7831c;
    border: 3px solid #f7831c;
    background-color: white;
    transition: all .51s !important;
}

#navbar{
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 20px;
    line-height: 1;
    height: 116px;
    z-index: 9999;
    background-color: white;
}


#navbar p#strong{
    font-weight: 900;
    margin-bottom: 5px;
}

#navbar #ts p{
    font-weight: 500;
}

#navbar .container .row .col{
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 600;
}

#navbar #highlight{
    font-size: 9pt;
    font-weight: 600;
    line-height: 1.5em;
}

#navbar img{
    height: 38px;
    width: auto;
}

img.img-banner{
    width: 1366px;
    height: auto;
}

.full-back-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#first-banner #contain{
    height: 92.5vh;
    padding-top: 6em;
    color: white;
}

#first-banner #contain h2{
    font-weight: 800;
    font-size: 40pt;
    line-height: 1.3em;
}

#first-banner #contain h1{
    font-weight: 900;
    font-size: 57pt;
    line-height: 1em;
}


#special-over #title p{
    font-size: 16pt;
    font-weight: 600;
    line-height: 1.4em;
}

#special-over #so-poin{
    font-weight: 900;
    font-size: 14pt;
    line-height: 1.4em;
    color: #f36a10;
}

#special-over #so-poin img{
    max-width: 220px;
    width: 100%;
}

#special-over #links a,
#special-over #links a label,
#special-over #links a label span{
    cursor: pointer;
}

#special-over #links #penawaran.my-btn-color{
    padding: 60px 80px 25px;
    font-weight: 600;
    border-radius: 10px;
}

#special-over #links a label span{
    font-size: 24pt;
    font-weight: 900;
}

#special-over #links a#hub{
    color: #f36a10;
    font-weight: 900;
}

#ts-content{
    color: white;
    height: 100vh;
    position: relative;
}
#ts-content .contain{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#ts-content .contain p{
    font-size: 14pt;
}
#ts-content .contain p{
    font-weight: 800;
}
#ts-triangel {
    margin-top: -2px;
}
#ts-img {
    margin-top: -11em;
    width: 520px;
    height: auto;
}

#testimoni{
    font-weight: 900;
}

#testimoni .carousel-indicators{
    bottom: -4em;
}

#testimoni .carousel-indicators li{
    background-color: #73828c;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 6px;
    margin-right: 6px;
}

#testimoni .carousel-indicators li.active{
    background-color: #010101;
}

#testimoni .testi-poin{
    background-color: #d8dbe4;
    border-radius: 15px;
}

#testimoni .testi-poin .img.p-2{
    padding-left: 4em !important;
}

#testimoni .testi-poin .img img{
    width: 140px;
    height: auto;
    padding-right: 2em;
    margin: 0 auto;
}

#testimoni .testi-poin h4{
    color: #f36a10;
    font-weight: 600;
}

#testimoni .testi-poin p{
    font-size: 14pt;
    line-height: 1.5em;
    font-weight: 600;
}

#testimoni #order a{
    padding: 30px 45px 28px;
    font-size: 20pt;
    font-weight: 900;
    border-radius: 10px;
}

#traffic-support h4{
    font-size: 27pt;
    font-weight: 900;
}

#traffic-support p{
    line-height: 1.5em;
    font-size: 17pt;
    font-weight: 600;
}

#traffic-support .ts-poin .img img {
    width: 220px;
}

#traffic-support #ts-other img{
    width: 160px;
}

#customer-feedback #background{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 6em 0 4.8em;
}

#customer-feedback .d-flex.align-items-center{
    height: 40vh;
}

#customer-feedback .carousel-indicators{
    bottom: -3em;
}

#customer-feedback .carousel-indicators li{
    cursor: pointer;
    margin-left: 6px;
    margin-right: 6px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

#customer-feedback .container p{
    font-size: 15pt;
    font-weight: 500;
    line-height: 1.5;
}

#case-study h2{
    position: absolute;
    font-weight: 900;
    font-size: 36pt;
}

#case-study .cs-poin img{
    width: 240px;
}

#case-study p{
    font-size: 15pt;
    font-weight: 600;
    line-height: 1.5em;
}

#msg{
    color: white;
    background-color: #434343;
    padding-top: 4em;
    padding-bottom: 3em;
}

#hto .hto-poin img{
    width: 240px;
}

#hto p{
    font-size: 17pt;
    font-weight: 500;
    line-height: 1.5em;
}

#hto #links a{
    padding: 20px 35px;
    border-radius: 10px;
    font-size: 16pt;
    font-weight: 700;
}

#footer{
    padding: 1.8em 0;
    font-size: 15pt;
    color: #ededed;
    background-color: #6d6d6d;
}
